* {
  margin: 0;
  box-sizing: border-box;
}
header {
  height: auto;
  margin-bottom: 10px;
}
header img {
  width: 150px;
  height: 50px;
  margin-left: 15px;
  margin-top: 20px;
  cursor: pointer;
}
header a {
  margin-left: 10px;
  position: relative;
  bottom: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
header input {
  position: absolute;
  left: 260px;
  top: 25px;
  width: 600px;
  height: 40px;
  border-radius: 20px;
  padding-left: 40px;
}
.icondiv {
  position: absolute;
  right: 60px;
  display: inline-block;
  cursor: pointer;
  top: 35px;
  word-spacing: 25px;
}
.icon1 {
  position: absolute;
  left: 270px;
  top: 37px;
  color: rgba(0, 0, 0, 0.6);
}
header div {
  display: inline-block;
  margin-left: 870px;
  position: absolute;
  top: 55px;
}
.first {
  height: 450px;
  width: 1100px;
  background-color: rgba(128, 128, 128, 0.2);
}
.first img {
  width: 400px;
  height: 350px;
  position: absolute;
  left: 450px;
  top: 20px;
}
.second {
  width: 350px;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  position: relative;
  top: 70px;
  left: 60px;
  padding: 20px;
}
.icon1 {
  width: 300px;
  height: 100px;
  border: 1px;
  box-shadow: 1px 1px 3px black;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.4);
  left: 100px;
  top: 600px;
  position: relative;
}
.icon1 i {
  font-size: 70px;
}
