* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* overflow-x: hidden; */
  /* font-family: "Climate Crisis", cursive; */
}
.header1 {
  width: 100%;
  height: 4vh;
  background-color: rgba(2, 59, 109, 255);
}
.header1 img {
  width: 100px;
  height: 4vh;
}
.header1 a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -29px;
  font-family: "Montserrat", sans-serif;
}
.header1 i {
  font-size: 15px;
  color: rgb(174, 173, 173);
  padding-left: 20px;
  padding-right: 20px;
}
.header3 {
  width: 100%;
  height: 500px;
  background-color: rgba(55, 81, 126, 255);
}
.header3 img {
  width: 500px;
  height: 520px;
  display: flex;
  position: absolute;
  right: 25px;
  top: 125px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 2000;
  font-size: 50px;
  color: white;
  position: relative;
  top: 200px;
  left: 40px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 2000;
  font-size: 20px;
  color: rgb(191, 189, 189);
  position: relative;
  top: 200px;
  left: 40px;
}
.header2 {
  width: 100%;
  height: 15vh;
  background-color: rgba(55, 81, 126, 255);
}
.header2 a {
  text-decoration: none;
  color: white;
  font-size: larger;
  margin: 20px;
  position: relative;
  left: 250px;
  top: 20px;
}
.arsha {
  font-size: 70px;
  font-weight: 700;
  margin-right: 50px;
}
.header2 button {
  position: relative;
  left: 250px;
  top: 20px;
  width: 100px;
  height: 40px;
  background-color: rgba(55, 81, 126, 255);
  color: white;
  border: 1px solid lightskyblue;
  border-radius: 20px;
  font-size: 15px;
}
.header3 button {
  position: relative;
  top: 220px;
  left: 40px;
  width: 100px;
  height: 40px;
  background-color: lightskyblue;
  color: white;
  border: 1px solid lightskyblue;
  border-radius: 20px;
  font-size: 17px;
}
.slike img {
  width: 50px;
  height: 30px;
  margin-right: 90px;
}
.slike {
  width: 100%;
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h1 {
  color: rgba(55, 81, 126, 255);
  text-align: center;
  margin-top: -120px;
  font-weight: 900;
}
.tekst i {
  color: lightskyblue;
}
.tekst {
  margin-top: 220px;
  margin-left: 10px;
  font-size: 18px;
}
.desno {
  text-align: right;
  margin-top: -100px;
  margin-right: 20px;
  font-size: 18px;
}
.desno button {
  background-color: white;
  color: rgb(102, 194, 250);
  border: 1px solid rgb(110, 196, 250);
  border-radius: 2px;
  font-size: 17px;
  width: 150px;
  height: 50px;
  margin-right: 400px;
}
.sivo {
  width: 100%;
  height: 500px;
  background-color: rgba(243, 245, 250, 255);
  padding: 50px;
  margin-top: 20px;
}
.sivo p {
  font-size: 30px;
  color: black;
}
.icon-one {
  width: 500px;
  height: 80px;
  background-color: rgba(255, 255, 255, 255);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.icon-two {
  width: 500px;
  height: 80px;
  background-color: rgba(255, 255, 255, 255);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}
.icon-three {
  width: 500px;
  height: 80px;
  background-color: rgba(255, 255, 255, 255);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}
.icon-one i {
  color: rgb(109, 196, 251);
  font-size: larger;
}
.icon-two i {
  color: rgb(109, 196, 251);
  font-size: larger;
}
.icon-three i {
  color: rgb(109, 196, 251);
  font-size: larger;
}
.sivo h5 {
  color: gray;
}
.statistics img {
  width: 600px;
  height: 350px;
  margin-left: 100px;
  margin-top: 70px;
}
.statistics h2 {
  color: black;
  position: relative;
  top: -400px;
  left: 700px;
  color: rgba(55, 81, 126, 255);
  font-weight: 1000;
  font-size: 30px;
}
.statistics p {
  color: black;
  position: relative;
  top: -400px;
  left: 700px;
  color: rgba(55, 81, 126, 255);
  font-size: large;
  font-family: "Caveat", cursive;
}
.services {
  width: 100%;
  height: 500px;
  background-color: rgba(243, 245, 250, 255);
  padding-left: 50px;
  padding-right: 50px;
}
.naslov {
  color: rgba(55, 81, 126, 255);
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  padding-top: 20px;
}
