* {
  margin: 0;
  box-sizing: border-box;
}
.site {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 18%);
  grid-template-rows: 8vh 8vh 25vh 350px 350px;
  grid-gap: 15px;
  justify-content: space-evenly;
}
.header1 {
  background-color: white;
  text-align: right;
  margin-right: 270px;
  grid-column: 1/-1;
}
.header1 img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.header1 img:hover {
  scale: 1.2;
}
.header2 {
  background-color: rgb(56, 3, 79);
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header2 a {
  text-decoration: none;
  color: white;
  font-size: larger;
  margin-right: 20px;
}
section {
  grid-column: 1/-1;
}

.header2 img {
  position: relative;
  left: -65px;
  width: 110px;
  height: 110px;
  margin-top: -70px;
}
.card {
  background-color: rgb(128, 128, 128, 0.2);
  text-align: center;
}
.header2 p {
  color: white;
  font-size: larger;
}
.ikonice {
  width: 50px;
  height: 50px;
  position: relative;
  top: -20px;
}
.background {
  width: 100%;
  height: 170px;
}

.slika {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}
h1 {
  position: relative;
  top: -140px;
  color: white;
  font-size: 85px;
}
.header2 i {
  color: white;
  font-size: larger;
}
