* {
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 15vh;
  background-color: rgb(66, 66, 221);
}
button {
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin-left: 20px;
}
header a {
  margin: 20px;
  color: white;
}
header img {
  width: 150px;
  height: 15vh;
  position: absolute;
  left: 100px;
}
.new {
  text-align: center;
  position: absolute;
  right: 50px;
  top: 50px;
}
h3 {
  font-family: "Roboto Condensed", sans-serif;
}
.first {
  width: 200px;
  height: 200px;
  background-color: rgb(224, 224, 224);
  text-align: center;
}
.first i {
  font-size: 30px;
}
.second {
  width: 200px;
  height: 200px;
  background-color: rgb(224, 224, 224);
  text-align: center;
  margin: 60px 0px 0px 5px;
}
.second i {
  font-size: 30px;
}
.third {
  width: 200px;
  height: 200px;
  background-color: rgb(224, 224, 224);
  text-align: center;
}
.third i {
  font-size: 30px;
}
.fourth {
  width: 200px;
  height: 200px;
  background-color: rgb(224, 224, 224);
  margin: 60px 0px 0px 5px;
  text-align: center;
}
.fourth i {
  font-size: 30px;
}
.icons {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 20px;
  top: 5px;
  width: 450px;
  height: 550px;
  flex-wrap: wrap;
}
.slika img {
  width: 550px;
  height: 500px;
  position: absolute;
  right: 50px;
  top: 100px;
}
.prva {
  background-color: rgb(224, 224, 224);
  width: 250px;
  height: 470px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
p {
  font-size: 17px;
}
.ikonice i {
  color: rgb(243, 158, 158);
}
.druga {
  background-color: rgb(224, 224, 224);
  width: 250px;
  height: 470px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.treca {
  background-color: rgb(224, 224, 224);
  width: 250px;
  height: 470px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.ikonice {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 20px;
}
footer {
  background-color: grey;
  height: 160px;
  margin-top: 30px;
}
.firstanimation {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: lime;
  transition: transform 0.5s ease-in 0.5s;
}
.secondanimation {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: lime;
  float: right;
  transition: transform 0.5s ease-in-out 0.5s;
}
footer:hover .firstanimation {
  transform: translateX(2600%);
  transition: 1s;
}
footer:hover .secondanimation {
  transform: translateX(-2600%);
  transition: 1s;
}
.copyright {
  clear: both;
  width: 320px;
  height: 20px;
  margin: auto;
  position: relative;
  top: 40px;
  color: white;
}
