* {
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
}
@media (min-width: 501px) {
  header {
    width: 100%;
    height: 15vh;
    background-color: white;
  }
  button {
    border: 1px solid rgb(46, 46, 194);
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(46, 46, 194);
    color: white;
  }
  header a {
    margin: 20px;
    color: rgb(46, 46, 194);
  }
  header img {
    width: 150px;
    height: 12vh;
    position: absolute;
    left: 100px;
  }
  .new {
    text-align: center;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  h3 {
    font-family: "Roboto Condensed", sans-serif;
  }
  .first {
    width: 200px;
    height: 200px;
    background-color: rgb(224, 224, 224);
    text-align: center;
  }
  .first i {
    font-size: 30px;
  }
  .second {
    width: 200px;
    height: 200px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    margin: 60px 0px 0px 5px;
  }
  .second i {
    font-size: 30px;
  }
  .third {
    width: 200px;
    height: 200px;
    background-color: rgb(224, 224, 224);
    text-align: center;
  }
  .third i {
    font-size: 30px;
  }
  .fourth {
    width: 200px;
    height: 200px;
    background-color: rgb(224, 224, 224);
    margin: 60px 0px 0px 5px;
    text-align: center;
  }
  .fourth i {
    font-size: 30px;
  }
  .main {
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 20px;
    top: 5px;
    width: 450px;
    height: 550px;
    flex-wrap: wrap;
  }
  .slika img {
    width: 550px;
    height: 500px;
    top: 100px;
  }
  .prva {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
  }
  p {
    font-size: 17px;
  }
  .ikonice i {
    color: rgb(113, 52, 217);
  }
  .druga {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
  }
  .treca {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
  }
  .ikonice {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 80px;
    top: 20px;
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ikonice button {
    cursor: pointer;
  }

  .prva:hover {
    transform: scale(1.1);
  }
  .druga:hover {
    transform: scale(1.1);
  }
  .treca:hover {
    transform: scale(1.1);
  }
  footer {
    background-color: grey;
    height: 160px;
    margin-top: 30px;
  }
  .firstanimation {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(21, 0, 255);
    transition: transform 0.5s ease-in 0.5s;
  }
  .secondanimation {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(21, 0, 255);
    float: right;
    transition: transform 0.5s ease-in-out 0.5s;
  }
  footer:hover .firstanimation {
    transform: translateX(2600%);
    transition: 1s;
  }
  footer:hover .secondanimation {
    transform: translateX(-2600%);
    transition: 1s;
  }
  .copyright {
    clear: both;
    width: 320px;
    height: 20px;
    margin: auto;
    position: relative;
    top: 40px;
    color: white;
  }
}
@media (max-width: 500px) {
  .parent {
    background-color: lightgreen;
  }
  header {
    width: 100%;
    height: 15vh;
    background-color: white;
  }
  button {
    border: 1px solid lightpink;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    color: white;
    background-color: lightpink;
  }
  header a {
    margin: 2px;
    color: lightpink;
  }
  header img {
    width: 100px;
    height: 15vh;
    position: absolute;
    left: 5px;
  }
  .new {
    text-align: center;
    position: absolute;
    right: 5px;
    top: 37px;
  }
  h3 {
    font-family: "Roboto Condensed", sans-serif;
  }
  .first {
    width: 180px;
    height: 180px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    position: absolute;
    right: 260px;
    top: 90px;
  }
  .first i {
    font-size: 30px;
  }
  .second {
    width: 180px;
    height: 180px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    position: absolute;
    right: 40px;
    top: 90px;
  }
  .second i {
    font-size: 30px;
  }
  .third {
    width: 180px;
    height: 180px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    position: absolute;
    right: 260px;
    top: 300px;
  }
  .third i {
    font-size: 30px;
  }
  .fourth {
    width: 180px;
    height: 180px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    position: absolute;
    right: 40px;
    top: 300px;
  }
  .fourth i {
    font-size: 30px;
  }
  .slika img {
    width: 400px;
    height: 300px;
    display: flex;
    margin-top: 450px;
    margin-left: 60px;
  }
  .prva {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
  }
  p {
    font-size: 17px;
  }
  .druga {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
  }
  .treca {
    background-color: rgb(224, 224, 224);
    width: 250px;
    height: 470px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
  }
  footer {
    background-color: lightpink;
    height: 70px;
    margin-top: 50px;
    text-align: center;
  }
}
