* {
  margin: 0;
  box-sizing: border-box;
}
.parent {
  margin: auto;
  background-color: bisque;
  width: 500px;
  height: 500px;
}
.child {
  width: 50%;
  height: 50%;
  background-color: rgb(164, 96, 229);
}
.parent:hover .child {
  /* background-color: darkgray; */
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards 4 alternate; */
  /* animation-play-state: paused; */
  animation: top-to-bottom 2s ease-in 0.5s forwards infinite alternate;
}
@keyframes top-to-bottom {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(100%);
    background-color: aqua;
  }
  50% {
    transform: translate(50%, 50%);
    background-color: rgb(255, 0, 212);
  }
  66% {
    transform: translate(100%, 100%);
    background-color: rgb(255, 145, 0);
  }
  100% {
    transform: translate(0, 100%);
    background-color: brown;
  }
}
