* {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 15vh;
  background-color: rgb(121, 204, 176);
  display: flex;
  justify-content: space-around;
}
.main-header {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links ul {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #efa7df;
  font-weight: 500;
  background-color: #98608b;
  padding: 15px;
  border-radius: 10px;
}
main {
  min-height: 75vh;
}
footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(8, 105, 73);
  display: flex;
  justify-content: center;
  align-items: center;
}
